h1 {
  color: blue;
  font-size: 50px;
  text-underline-position: below;
  text-align: center;
  padding-top: 20px;
}

h2 {
  color:chartreuse;
  font-size: 50px;
  text-underline-position: below;
  text-align: center;
}

h3 {
  color:black;
  font-size: 50px;
  text-underline-position: below;
  text-align: center;
}
.container {
  width: 70%;
  margin: auto;
}


#result {
  text-align: left;
  color: blue;
}

p {
  font-size: medium;
  color: black;
  text-align: center;
  text-underline-position: below;
}


#year-input {
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px #000000;
  color: red;
}

#month-input {
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px #000000;
  color: red;
}

#day-input {
  border-radius: 5px;
  width: 60px;
  height: 20px;
  box-shadow: 2px 2px #000000;
  color: red;
}

body {
  background-color:brown;
}